<div class="modal-header" ng-if="data && data.title">
    <h3 class="modal-title" id="modal-title">{{data.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="data.name">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">{{ okLabel }}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>