<span><h1>Projects</h1></span>

<form>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Project Name" ng-model="searchProject">
        </div>   
    </div>
</form>
<table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <!--nput type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected">-->
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          Actions
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="proj in projects | orderBy:sortType:sortReverse | filter:searchProject">
        <td><input type="checkbox" ng-value="proj.id" ng-model="hasSelect" ng-change="checkSelected()">&nbsp;{{ proj.name }}</td>
        <td>
            <button class="btn btn-default" ui-sref="features({projectId:proj.id})">view</button>
            <button class="btn btn-primary" ng-click="showModal('Project - Edit', proj.name, proj.id)">edit</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <button class="btn btn-success" ng-click="showModal('Project Create', '')">Add Project <span class="fa fa-plus-circle"></span></button>
  <button class="btn btn-danger" ng-click="removeSelected()">remove</button>