<span style="display:inline-block;"><h1>Project {{projectId}} / <span class="active-path">Features</span></h1></span> <span style="display:inline-block;float:right;"><button ui-sref="projects()" class="btn-primaryback back">Back</button></span>

<form>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Feature Name" ng-model="searchFeature">
        </div>   
    </div>
</form>
<table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          Actions
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="feat in features | orderBy:sortType:sortReverse | filter:searchFeature">
        <td>{{ feat.name }}</td>
        <td>
            <button class="btn btn-default" ui-sref="todos({projectId:projectId,featureId:feat.id})">view</button>
            <button class="btn btn-primary" ng-click="showModal('Feature - Edit', feat.name, feat.id)">edit</button>
        </td>
      </tr>
    </tbody>
    
  </table>

    <button class="btn btn-success" ng-click="showModal('Feature Create', '')">Add Feature <span class="fa fa-plus-circle"></span></button>
    <button class="btn btn-danger" ng-click="removeSelected()">remove</button>