<span style="display:inline-block;"><h1>Project {{projectId}} / Feature {{featureId}} / <span class="active-path">Todo</span></h1></span> <span style="display:inline-block;float:right;"><button ui-sref="features({projectId:projectId})" class="btn-primaryback back">Back</button></span>

<form>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Todo Name" ng-model="searchTodo">
        </div>   
    </div>
</form>
<table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          Actions
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="todo in todos.data | orderBy:sortType:sortReverse | filter:searchFeature">
        <td><div ng-class="{'todo-done': todo.status==1}">{{ todo.name }}</div></td>
        <td>
           <button class="btn btn-primary" ng-click="showModal('Todo - Edit', todo.name, todo.id)">edit</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <button class="btn btn-success" ng-click="showModal('Todo Create', '')">Add Todo <span class="fa fa-plus-circle"></span></button>
  <button class="btn btn-danger" ng-click="removeSelected()">remove</button>